body {
    font-family: "Copperplate", fantasy;
}

h1, h2, h3 {
    font-family: "Copperplate", fantasy;
}

h2 {
    color: #000000;
}

header h2 {
    color: #000000;
}

.site-footer{
    background-image: linear-gradient(gray, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background: goldenrod;
    color: #000000;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
}
.nav-item{
    padding: 1em;
}

/*.col {
    border: 2px solid red;
    border-radius: 5px;
  }*/

.btn {
    margin:auto;
    display:block;
}
